.navbar .navbar-brand {
	font-family: galindo;
	font-size: 15px;
	text-shadow: 1px 1px black;
}

.navbar .navbar-nav .nav-item {
	font-family: galindo;
	font-size: 25px;
	text-shadow: 1px 1px black;
}

.footer {
	left: 0;
	bottom: 0;
	position: fixed;
	background: red;
	width: 100%;
	padding: 15px;
	font-family: galindo;
}
